{
  "endOfLine": "auto",
  "importOrder": [
    "^@lit(.*)$",
    "^@components(.*)|@components/(.*)|^@constants(.*)|@constants/(.*)|@root(.*)|@root/(.*)|@store(.*)|@store/(.*)|@types(.*)|@types/(.*)$",
    "^[./].*(?<!\\.scss)$",
    "\\.scss$"
  ],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none"
}
